    <!-- About Section -->
    <div class="color-blue row no-margins text-center">
        <div>
            <h2 class="color-cyan bookmark text-light">About</h2>
        </div>
    </div>

    <section id="about" class="container content-section text-center color-cyan">
        <div class="row" align="justify">
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-4 col-sm-6 text-light">
                <img class="datahack-icon" src="img/icon_logo-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="datahack-title" align="center">DataHack</h1>
                <div class="left-text-column ">
                <p align="justify">
                DataHack is a community for data-enthusiastic programmers, designers and researchers in Israel. We aim to bridge academia and industry and help share precious knowledge and experience gained from work in machine learning, statistics and data science generally in joint events and online communication forums, and to bring together the Israeli data community.
                </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-light">
                <img class="location-icon" src="img/icon_gps-04-04.png" alt="Location" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="location-title" align="center">Events & Community</h1>
                <div class="middle-text-column">
                <p align="justify">
                Besides hosting a <a class="page-scroll" href="#hackathon" style="color:darkblue">yearly hackathon</a> at the Hansen House, Jerusalem, we also organize the <font color="navyblue"><a class="page-scroll" href="#datatalks" style="color:darkblue">DataTalks</a></font> meetup series; read all about these efforts below.
                You can also find us on <a class="page-scroll" href="https://twitter.com/DataHackIL" target="_blank" style="color:darkblue">twitter</a>, <a class="page-scroll" href="https://www.facebook.com/datahackil" target="_blank" style="color:darkblue">Facebook</a> and <a class="page-scroll" href="https://www.linkedin.com/company/10256604" target="_blank" style="color:darkblue">LinkedIn</a>, and even sign-up to our monthly-ish <a class="page-scroll" href="#newsletter" style="color:darkblue">newsletter</a>.
                </p>
                </div>
            <div class="col-md-2 col-sm-0"></div>
            <br><br><br>
          </div>
        </div>

    </section>
