<!-- Register section -->
<div class="color-navyblue row no-margins text-center">
    <div>
        <h2 class="color-red bookmark text-light">DataTalks</h2>
    </div>
</div>

<section id="datatalks" class="container content-section text-center color-red">
    <div class="row" align="justify">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="col-md-12 text-light">
                <img class="contact-icon" src="img/icon_datasets.png" alt="Contact" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="contact-title" align="center">DataTalks</h1>
                <div class="left-text-column ">
                <p align="justify">
                DataTalks is a series of meetups where companies - both big and small, and from both Jerusalem and the Gush Dan area - host events with highly technical and informative talks regarding various issues in machine learning and data science. Talks will be given both by a data science professional from the hosting company and from unrelated experts from academia and industry.
                </p>

               <p align="center">
                Join us on meetup!
                <a href="http://www.meetup.com/DataHack/" target="_blank">
                    <img class="meetup-logo" src="img/meetup.png" alt="The DataTalks Meetup!" style="display:block;margin:auto;margin-bottom:1cm;vertical-align:middle;width:25%;height:25%">
                </a>
                </p>
                </div>
            </div>
      </div>
      <div class="col-md-2">
        <br><br><br>
      </div>

    </div>
</section>
