<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/img/favicon.png?">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68413266-1', 'auto');
          ga('send', 'pageview');
    </script>
</head>
<body>
    <div align="center">
      <img src="../img/logos/for_challenges/small_logo.png" class="brand-image" alt="Logo">
    </div>
    <div align="center">
        <h1> Data Sets by Sponsors</h1>
        <h3> Here are some of the datasets that our sponsors are going to share with you during the event:</h3>
        <br><br><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-dark" align="center">
                  <h4>Company</h4>
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h4>Subject</h4>
            </div>
            <div class="col-md-6 text-dark" align="center">
                  <h4>Description</h4>
            </div>
        </div>

        <!-- ROW -->
         <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_ebay.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> ebay Listings </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p>eBay is very flexible with the data it requires sellers to provide. Upon listing, the seller provides a short title of what he sells, some optional domain specific specifications (like screen size for TV’s, color for fashion or clarity for diamonds), and a category, an image and an HTML formed description.</p>

            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

         <!-- ROW -->
        <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/logo_outbrain.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> Article Viewings </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p>The data set is composed of a set article entries - containing selected features of the articles - and a set of article viewing events by various users including page referrals.</p>
                  <p> The data is stored <a href="https://drive.google.com/folderview?id=0BwRdpuTGNHpZOGZtTnE1V0d0c1k&usp=sharing"> here </a>.

            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

         <!-- ROW -->
        <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/logo_mobileye.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> Drive Records </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p>A data set of around 500 ~1 hour drives in Israel. Various information was collected along each drive: GPS information, speed and car movement, lane information, position and type of signs along the way, and parameters modeling the road. The information was gathered using a camera, and various sensors in the car. Sample video clips of drives will also be available.</p>
				  <p> The data is stored <a href="http://www.googledrive.com/host/0B6RE4s-aNxbbbXM5M2w3QnNqeTg"> here </a>. An instruction manual <a href= http://www.googledrive.com/host/0B6RE4s-aNxbbbFozeUdsRlFacWc>here</a>.
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

        <!-- ROW -->
        <div class="row data-table">
            <div class="col-md-3 text-dark" align="center"> <!--style="vertical-align:middle" -->
                  <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_intel.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> Parkinson's Disease </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p>The data was collected using ~30 different 3-axial accelerometer signals, each of which was recorded from an accelerometer that was attached to the spine (near the lower back) of a Parkinson's Disease patient. Each signal describes a walking session of 10 seconds. In addition, data includes the number of steps that were carried by the patient, in each session, and the total covered distance, during the session. Although relatively simple, these two measures provide insightful information regarding the gait quality of the patients.</p>
                  <p> The data is stored <a href="https://drive.google.com/folderview?id=0BwRdpuTGNHpZdEdZVWtYdkpPQUk&usp=sharing"> here </a>.
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

            <!-- ROW -->
            <div class="row data-table">
                <div class="col-md-3 text-dark" align="center">
                      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_neura.png" alt="sample" style="">
                </div>
                <div class="col-md-3 text-dark" align="center">
                      <h3> Daily Life </h3>
                </div>
                <div class="col-md-6 text-dark">
                      <p>A dataset of around 50 anonymized Neura users. It includes recordings of their daily lives throughout a two-month period, as seen by the devices and sensors around them. Neura collects information such as duration of smartphone's connection to charger, Bluetooth beacons detected or a list of devices connected to the users’ Wi-Fi network. The data set can be used to produce actionable insights into the users’ lives.</p>
                      <p> The data is stored <a href="https://drive.google.com/folderview?id=0BwRdpuTGNHpZbDZOZWZXUWtmMUk&usp=sharing"> here </a>.
          					  <p>A detailed description available <a href= https://drive.google.com/file/d/0B_WCK0pkekCqM290eWJpTFdhWE0/view?usp=sharing>here</a>. </p>
                </div>
            </div>

		<div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

            <!-- ROW -->
            <div class="row data-table">
                <div class="col-md-3 text-dark" align="center">
                      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_wix.png" alt="sample" style="">
                      <br><br>
                </div>
                <div class="col-md-3 text-dark" align="center">
                      <h3> Websites Text </h3>
                </div>
                <div class="col-md-6 text-dark">
                      <p>The dataset contains mildly proccesed text of ~1000 websites, and their categorizations.  </p>
                      <p>The data, a usage explanation and a list of default string are <a href="https://drive.google.com/folderview?id=0BwRdpuTGNHpZcV9kVHJzcXVqbWM&usp=sharing">here</a>.</p>
                </div>
            </div>

		<div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

            <!-- ROW -->
            <div class="row data-table">
                <div class="col-md-3 text-dark" align="center">
                      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_storesmarts.png" alt="sample" style="">
                </div>
                <div class="col-md-3 text-dark" align="center">
                      <h3> Real-world Shopper Visits </h3>
                </div>
                <div class="col-md-6 text-dark">
                      <p>The data set contains information about retail stores that StoreSmarts monitors, along with visitor session entries (Unique Identifier of shopper, whether he was in or out of the store, duration of session, etc…) up to a year back in the area of those stores. For simplicity, aggregated reports are also available to get quick insights from the data.</p>
                      <p>Size: ~40 million entries.</p>
                      <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                      Data links:
                      <ul>
                        <li>
                          <a href="https://drive.google.com/file/d/0B3IYTOSJm0hOVTBrVjZ3akNDM0k/view?usp=sharing"  target="_blank">data set presentation</a>
                        </li>
                        <li>
                          <a href="http://datahack.storesmarts.com/stores.csv.zip" target="_blank">Stores</a>
                        </li>
                        <li>
                          <a href="http://datahack.storesmarts.com/report_day.csv.zip" target="_blank">Report Day</a>
                        </li>
                        <li>
                          <a href="http://datahack.storesmarts.com/report_hour.csv.zip" target="_blank">Report Hour</a>
                        </li>
                        <li>
                          <a href="http://datahack.storesmarts.com/sessions_20140101-20150101.csv.zip" target="_blank">Sessions Part 1/3</a>
                        </li>
                        <li>
                          <a href="http://datahack.storesmarts.com/sessions_20150101-20150601.csv.zip" target="_blank">Sessions Part 2/3</a>
                        </li>
                        <li>
                          <a href="http://datahack.storesmarts.com/sessions_20150601-20151123.csv.zip" target="_blank">Sessions Part 3/3</a>
                        </li>
                      </ul>
                    </font>
                </div>
            </div>

        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

    </div>

    <br><br><br><br><br>

    <div align="center">
        <h1> Open Data Sets</h1>
        <h3> Here are some great open data sets we think you might like to work with <br>(and some challenges to get you started):</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-dark" align="center">
                <h4>Data from</h4>
            </div>
            <div class="col-md-3 text-dark" align="center">
                <h4>Subject</h4>
            </div>
            <div class="col-md-6 text-dark" align="center">
                <h4>Description</h4>
            </div>
        </div>

            <!-- ROW -->
            <div class="row data-table">
                <div class="col-md-3 text-dark"s style="vertical-align:middle" align="center">
                      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_beit_hatfuzot.png" alt="sample" style="">
                </div>
                <div class="col-md-3 text-dark" align="center">
                      <h3> Family Trees </h3>
                </div>
                <div class="col-md-6 text-dark">
                      <p>The Beit Hatfutsot's family tree database contains over 10,000 family trees encompassing over five million people. The database contains names, professions, births, family ties and numerous other details. </p>
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-md-12 text-center">
                    <img class="co-host-separator" src="../img/logos/long_line.png">
                    <br>
                </div>
            </div>

        <!-- ROW -->
         <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_gdelt.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> World-News </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p><b>Description:</b> The GDELT Project monitors the world's broadcast, print, and web news from around the world and identifies people, locations, organizations, emotions and more. This dataset has been used to analyze international relations, monitor the war on Ebola, create influence networks of powerful individuals and examining the implications of the Arab Spring.</p>
                  <p><b>Data format:</b> CSV files containing columns for: date, actors, tone, location, source and more.</p>
                  <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                  <b>Possible challenges:</b>
                  <ul>
                      <li type="circle"> Coverage and tone towards Israel around the world. </li>
                      <li type="circle"> Predict the next protest, disease outbreak or election’s winner. </li>
                      <li type="circle"> Show relations between business people, media personalities and government officials. </li>
                  </ul><br>
                  <b>Previous work:</b>
                  <ul>
                      <li type="circle"> <a href="http://blog.gdeltproject.org/visualizing-the-global-influencer-network/" target="_blank"> Visualizing the global influencer network. </a> </li>
                      <li type="circle"> <a href="http://foreignpolicy.com/2014/01/03/half-a-billion-clicks-cant-be-wrong/" target="_blank"> World map of conflict zones. </a> </li>
                      <li type="circle"> <a href="https://www.youtube.com/watch?v=1vqTPYdublk" target="_blank"> Protests and violence against civilians 1979-2014. </a> </li>
                  </ul><br>
                  <b>Links:</b>
                  <ul>
                      <li type="circle"> Overview: <a href="http://www.gdeltproject.org/" target="_blank"> http://www.gdeltproject.org/ </a> </li>
                      <li type="circle"> Download: <a href="http://data.gdeltproject.org/events/index.html" target="_blank"> http://data.gdeltproject.org/events/index.html</a> and <a href="http://data.gdeltproject.org/gkg/index.html" target="_blank"> http://data.gdeltproject.org/gkg/index.html</a></li>
                      <li type="circle"> Get a filtered CSV to your email: <a href="http://analysis.gdeltproject.org/module-event-exporter.html" target="_blank"> http://analysis.gdeltproject.org/module-event-exporter.html</a> </li>
                      <li type="circle"> Using Google BigQuery: <a href="http://googlecloudplatform.blogspot.co.il/2014/05/worlds-largest-event-dataset-now-publicly-available-in-google-bigquery.html" target="_blank"> http://googlecloudplatform.blogspot.co.il/2014/05/worlds-largest-event-dataset-now-publicly-available-in-google-bigquery.html</a> </li>
                  </ul><br>
                  </font>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

    <!-- ROW -->
     <div class="row data-table">
        <div class="col-md-3 text-dark" align="center">
              <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_enron.png" alt="sample" style="">
        </div>
        <div class="col-md-3 text-dark" align="center">
              <h3> Enron Emails </h3>
        </div>
        <div class="col-md-6 text-dark">
              <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
              <p><b>Description:</b> Enron was a U.S. energy-trading and utilities company that housed one of the biggest accounting frauds in history. Enron's executives employed accounting practices that falsely inflated the company's revenues, which, at the height of the scandal, made the firm become the seventh largest corporation in the United States. Once the fraud came to light, the company quickly unraveled and filed for Chapter 11 bankruptcy on Dec. 2, 2001. The dataset contains ~200,000 email messages from ~150 users, mostly senior management of Enron.</p>
              <p><b>Data format:</b> The zip file contains a folder for each employee. Each of these folders is divided into ‘inbox’, ‘sent’, ‘all documents’ and more. The subfolders contain text files with the raw email data.</p>
              <b>Possible challenges:</b>
              <ul>
                  <li type="circle"> Find words and phrases that shorten the response time to an email. </li>
                  <li type="circle"> Determine the importance and urgency of a given email. </li>
                  <li type="circle"> Extract a list of tasks from a given email. </li>
              </ul> <br>
              <b>Previous work:</b>
              <ul>
                  <li type="circle"> <a href="https://www.cs.cmu.edu/~tom/EMNLP2004_final.pdf" target="_blank"> Classification of an email according to the intent of the sender. </a> </li>
              </ul> <br>
              <b>Links:</b>
              <ul>
                  <li type="circle"> Overview: <a href="http://www.cs.cmu.edu/~enron/" target="_blank"> http://www.cs.cmu.edu/~enron/ </a> </li>
                  <li type="circle"> Download: <a href="http://www.cs.cmu.edu/~enron/enron_mail_20150507.tgz" target="_blank"> http://www.cs.cmu.edu/~enron/enron_mail_20150507.tgz</a> </li>
              </ul> <br>
              </font>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-md-12 text-center">
            <img class="co-host-separator" src="../img/logos/long_line.png">
            <br>
        </div>
    </div>

         <!-- ROW -->
        <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_reddit_datapage.png" alt="sample" style="">
                  <br>
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> Reddit Posts </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                  <p><b>Description:</b> An open dataset containing all public messages of the social bulletin board site. This is a user created dataset which currently contains around 1.7B comments .</p>
                  <p><b>Data format:</b> Both the Torrent file and BigQuery data is in JSON format.</p>
                  <b>Possible challenges:</b>
                  <ul>
                      <li type="circle"> Find sub-communities and in them find leaders or trend-makers. </li>
                      <li type="circle"> Impact of important dates on the amount of comments/threads. </li>
                      <li type="circle"> Visualize how communities are formed. </li>
                  </ul> <br>
                  <b>Previous work:</b>
                  <ul>
                      <li type="circle"> The BigQuery thread has many examples on possible applications. </li>
                  </ul> <br>
                  <b>Links:</b>
                  <ul>
                      <li type="circle"> Overview: <a href="https://redd.it/3bxlg7" target="_blank"> https://redd.it/3bxlg7 </a> </li>
                      <li type="circle"> Download (Torrent): <a href="https://mega.nz/#!ysBWXRqK!yPXLr25PgJi184pbJU3GtnqUY4wG7YvuPpxJjEmnb9A" target="_blank"> Torrent file</a> </li>
                      <li type="circle"> Online API (Google BigQuery + Examples): <a href="https://redd.it/3cej2b" target="_blank"> https://redd.it/3cej2b</a> </li>
                  </ul> <br>
                  </font>
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

             <!-- ROW -->
            <div class="row data-table">
                <div class="col-md-3 text-dark" align="center">
                      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_github.png" alt="sample" style="">
                      <br>
                </div>
                <div class="col-md-3 text-dark" align="center">
                      <h3> GitHub Repositorys History </h3>
                </div>
                <div class="col-md-6 text-dark">
                      <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                      <p><b>Description:</b> Github is an online git repository hosting service, holding projects such as Node.JS, Microsoft VisualStudio and Google’s TensorFlow. GitHub is the largest code repository in the world with over 11M users and 29M repositories.</p>
                      <p><b>Data format:</b> There is a BigQuery available from the GitHub page, containing all data + language specific data.</p>
                      <b>Possible challenges:</b>
                      <ul>
                          <li type="circle"> How likely it is for a programmer who wrote in X to write in Y? </li>
                          <li type="circle"> Is there a correlation between active users in GitHub to active users in other networks such as StackOverflow? </li>
                          <li type="circle"> Find impactful commits (those that caused, for example, a surge of forking) </li>
                      </ul> <br>
                      <b>Previous work:</b>
                      <ul>
                          <li type="circle"> None </li>
                      </ul> <br>
                      <b>Links:</b>
                      <ul>
                          <li type="circle"> Overview: <a href="https://github.com/blog/1112-data-at-github" target="_blank"> https://github.com/blog/1112-data-at-github </a> </li>
                      </ul> <br>
                      </font>
                </div>
            </div>

            <div class="row" align="center">
                <div class="col-md-12 text-center">
                    <img class="co-host-separator" src="../img/logos/long_line.png">
                    <br>
                </div>
            </div>
        <!-- ROW -->
   <div class="row data-table">
       <div class="col-md-3 text-dark" align="center">
             <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_nyt.png" alt="sample" style="">
             <br>
       </div>
       <div class="col-md-3 text-dark" align="center">
             <h3> NYT articles </h3>
       </div>
       <div class="col-md-6 text-dark">
             <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
             <p><b>Description:</b> The New York Times is one of the most wide read newspapers around the world. It has articles about world and local news, opinions, and various other topics. Using these APIs you can access any article since 1851, books, comments and many more. Bare in mind that the access is with a key which is restricted. In the articles API, for examples, you are restricted to 10 calls per second, and 10,000 per day. The restrictions are specified  <a href="http://developer.nytimes.com/apps/register" target="_blank">here</a>.</p>
             <b>Links:</b>
             <ul>
                 <li type="circle"> Overview: <a href="http://developer.nytimes.com/docs" target="_blank"> http://developer.nytimes.com/docs </a> </li>
             </ul> <br>
             <p><b>Data format:</b> The access to the data is by a web based API - you send a GET request and get back a json with the data. Here are some <a href="http://developer.nytimes.com/docs/read/article_search_api_v2#examples" target="_blank">examples</a> (there are examples for all the available APIs). There is also a GUI <a href="http://developer.nytimes.com/io-docs" target="_blank">API console</a>.</p>
             <b>Possible challenges:</b>
             <ul>
                 <li type="circle"> Find connections between people and events. </li>
                 <li type="circle"> Compare coverage between different newspapers (e.g. by using the <a href="http://open-platform.theguardian.com/access/" target="_blank">Guardian's similar API</a>). </li>
                 <li type="circle"> Compare coverage with real data - do similar event get the same coverage? </li>
                 <li type="circle"> Develop a tool to identify a connection between a newspaper and possible stakeholders (commercial, political). </li>
             </ul> <br>
             <b>Previous work:</b>
             <ul>
                 <li type="circle"> There are many previous applications and visualizations based on this API. See for example - the <a href="http://developer.nytimes.com/gallery" target="_blank">gallery</a>, and some <a href="https://github.com/nytimes/" target="_blank">code examples</a>. </li>
             </ul> <br>
             </font>
       </div>
   </div>

     <div class="row" align="center">
         <div class="col-md-12 text-center">
             <img class="co-host-separator" src="../img/logos/long_line.png">
             <br>
         </div>
     </div>


   <!-- ROW -->
   <div class="row data-table">
   <div class="col-md-3 text-dark" align="center">
      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_nasa.png" alt="sample" style="">
      <br>
   </div>
   <div class="col-md-3 text-dark" align="center">
      <h3> NASA Public Data </h3>
   </div>
   <div class="col-md-6 text-dark">
      <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
      <p><b>Description:</b> NASA open all of its data to the public. There are many , very different, data types. From biological measurements, to software usage. It’s a goldmine for space and data lovers. </p>
      <b>Links:</b>
      <ul>
          <li type="circle"> Overview: <a href="https://data.nasa.gov/data" target="_blank"> https://data.nasa.gov/data </a> </li>
          <li type="circle"> Developers Guide: <a href="https://data.nasa.gov/developer" target="_blank"> https://data.nasa.gov/developer </a> </li>
      </ul> <br>
      <b>Data format:</b> There are various data types, each with its own format. Generally, they all have SODA APIs and also downloadable in convenient formats (tabular data in CSV format etc.).
      <ul>
          <li type="circle"> If you are going to use the API - You need to sign up for an API key. The API is rate limited to ~1000 requests per hour. More details <a href="https://api.nasa.gov/api.html#web-service-rate-limits" target="_blank"> here </a> </li>
      </ul> <br>
      <b>Possible challenges:</b>
      <ul>
          <li type="circle"> Locate images from space of interesting regions on earth - detect climate changes, war zones etc. </li>
          <li type="circle"> Visualize how NASA’s interest changed over time. </li>
          <li type="circle"> Try to predict <a href="https://data.nasa.gov/view/ak9y-cwf9" target="_blank">meteorite landings</a> . </li>
      </ul> <br>
      <b>Previous work:</b>
      <ul>
          <li type="circle"> Some code examples are given in <a href="https://code.nasa.gov/#/" target="_blank">NASA’s open code page</a> . </li>
          <li type="circle"> Some images examples are seen <a href="http://eros.usgs.gov/find-data" target="_blank">here</a> . </li>
      </ul> <br>
      </font>
   </div>
   </div>

   <div class="row" align="center">
         <div class="col-md-12 text-center">
             <img class="co-host-separator" src="../img/logos/long_line.png">
             <br>
         </div>
     </div>


   <!-- ROW -->
   <div class="row data-table">
   <div class="col-md-3 text-dark" align="center">
      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/treasury.png" alt="sample" style="">
      <br>
   </div>
	<div class="col-md-3 text-dark" align="center">
      <h3> Israel’s Budget </h3>
   </div>
	   <div class="col-md-6 text-dark">
		  <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
		  <p><b>Description:</b> A dataset of the government’s budgets, with endless possibilities.  In the  <a href=http://www.obudget.org> website</a> there are visulaizations and analisys of this data. It’s a  very good starting point if you want to dive into this area.
		  </p>
		  <p><b>Sources:</b>
		  The obudget data is accessible in  <a href=http://data.obudget.org>this query system</a>.
		  Where you can see existing queries, and generate new ones.
		  Technical note - the hebrew data is exported in UTF-8.(if you have encoding problems - feel free to contact the data team).
		  The developers are very willing to help. If you encounter any problems, let us (the data team) know and we will contact you with them.

		   The budget is also available via the government’s data site <a href = https://data.gov.il/data?title=%D7%AA%D7%A7%D7%A6%D7%99%D7%91&category=All&type=All&ministry=All&file_type=All> here</a> in xlsx format.
		  </p>
		  <p><b>Suggested project:</b>
		   In the <a href=http://data.obudget.org>query system</a> there are three queries regarding contracts and transfers to private entities in Israel (companies and associations).
			<ul>
			<li type="circle"> <a href=http://data.obudget.org/queries/15>exemptions</a> - Commitments tender exemption of all government departments (including subunits) to outsource the exemption from a tender.</li>
			<li type="circle"> <a href=http://data.obudget.org/queries/49>supports</a> - Supporting grants.</li>
			<li type="circle"> <a href=http://data.obudget.org/queries/75>entities</a> - Bodies that in connections with the goverment.</li>
			</ul>
			We offer to cross-reference this information with information on the addresses of those companies and associations. This will allow to answer interesting questions. For example, how many government entities contracting with the center in front of the periphery, Arabs versus Jews, etc.
			The data on the address of the site is GuideStar nonprofit organizations - <a href= Http://www.guidestar.org.il/>Http://www.guidestar.org.il/</a>
			The address data of all companies in the database the Registrar of Companies, or on <a href=http://www.corporation.co.il/>http://www.corporation.co.il/</a>
			</p>
			</font>
	   </div>
   </div>

  <div class="row" align="center">
         <div class="col-md-12 text-center">
             <img class="co-host-separator" src="../img/logos/long_line.png">
             <br>
         </div>
     </div>

	 <!-- ROW -->
   <div class="row data-table">
   <div class="col-md-3 text-dark" align="center">
      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/prize4life.PNG" alt="sample" style="">
      <br>
   </div>
	<div class="col-md-3 text-dark" align="center">
      <h3>    Prize4life Dataset </h3>
   </div>
	   <div class="col-md-6 text-dark">
		  <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
		  <p><b>Description:</b> An open dataset containing ALS clinical data on studies and sufferers of the disease.
		  </p>
		  <p><b>Links:</b>
		  <ul>
		   <li type="circle">  Site - <a href=	https://nctu.partners.org/ProACT/>https://nctu.partners.org/ProACT/ </a>. A short registration and approval is needed, so it's best to take care of that in advance.</li>
			<li type="circle"> Extensive description of the data - 	<a href = https://nctu.partners.org/ProACT/Document/DisplayLatest/2>https://nctu.partners.org/ProACT/Document/DisplayLatest/2 </a></li>
			</ul>
			</p>
		  <p><b>Data format:</b>
			CSV, XLSX, or both
			</p>
			<p><b>Possible challenges:</b>
			<ul>
			<li type="circle">Finding correlations between the disease and patient background</li>
			<li type="circle">Predicting survival chance based on patient history</li>
			<li type="circle">Mapping the research areas, and pointing to previously uncharted territory where a cure might be found.</li>
			</ul>
			</p>
		<p><b>Previous work:</b>
			Two previous winning teams of the prize4life, with their contribution: <a href= http://www.innocentive.com/prize4life-announces-50000-als-prediction-prize-winners>http://www.innocentive.com/prize4life-announces-50000-als-prediction-prize-winners</a>
			</p>

			</font>
	   </div>
   </div>



   <!-- <div class="row" align="center">
       <div class="col-md-12 text-center">
           <img class="co-host-separator" src="../img/logos/long_line.png">
           <br>
       </div>
   </div>



   <div class="row data-table">
     <div class="col-md-3 text-dark" align="center">
      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_budget.png" alt="sample" style="">
      <br>
     </div>
     <div class="col-md-3 text-dark" align="center">
      <h3> Israel's Budget </h3>
     </div>
   <div class="col-md-6 text-dark">
      <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
      <p><b>Description:</b> A dataset of the government’s budgets, with endless possibilities. </p>
      <b>Links:</b>
      <ul>
          <li type="circle"> Overview: <a href="https://data.nasa.gov/data" target="_blank"> https://data.nasa.gov/data </a> </li>
          <li type="circle"> Developers Guide: <a href="https://data.nasa.gov/developer" target="_blank"> https://data.nasa.gov/developer </a> </li>
      </ul> <br>
      <b>Data format:</b> There are various data types, each with it’s own format. Generally, they all have SODA APIs and also downloadable in convenient formats (tabular data in CSV format etc.).
      <ul>
          <li type="circle"> If you are going to use the API - You need to sign up for an API key. The API is rate limited to ~1000 requests per hour. More details <a href="https://api.nasa.gov/api.html#web-service-rate-limits" target="_blank"> here </a> </li>
      </ul> <br>
      <b>Possible challenges:</b>
      <ul>
          <li type="circle"> Locate images from space of interesting regions on earth - detect climate changes, war zones etc. </li>
          <li type="circle"> Visualize how NASA’s interest changed over time. </li>
          <li type="circle"> Try to predict <a href="https://data.nasa.gov/view/ak9y-cwf9" target="_blank">meteorite landings</a> . </li>
      </ul> <br>
      <b>Previous work:</b>
      <ul>
          <li type="circle"> Some code examples are given in <a href="https://code.nasa.gov/#/" target="_blank">NASA’s open code page</a> . </li>
          <li type="circle"> Some images examples are seen <a href="http://eros.usgs.gov/find-data" target="_blank">here</a> . </li>
      </ul> <br>
      </font>
     </div>
   </div> -->

   <div class="row" align="center">
       <div class="col-md-12 text-center">
           <img class="co-host-separator" src="../img/logos/long_line.png">
           <br><br><br><br>
           <br>
       </div>
   </div>
</div>

        <br><br><br><br><br>
        <div align="center">
            <h1> Other Open Data Sets</h1>
            <h3> These are all good datasets, but we leave finding possible challanges to you :)</h3>
        </div>

        <div class="container">
            <!-- ROW -->
           <div class="row data-table">
               <div class="col-md-4 text-dark" align="left">
                     <h1 align="center"> Open Knesset </h1>
                     <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                     <p><b>Description:</b> Data from the Knesset regarding members, votes committees and more. The data is accessible through the site, or the API. In the website there are many visualizations, and analysis. Very good place to get acquainted with the data and the possibilities it entails. </p>
                     <br><b>Links:</b>
                     <ul>
                       <li type="circle"> Overview: <a href="https://oknesset.org/" target="_blank"> https://oknesset.org/ </a> </li>
                       <li type="circle"> API: <a href="https://oknesset.org/" target="_blank"> https://oknesset.org/ </a> </li>
                     </ul>
                     <br>
               </div>

               <div class="col-md-4 text-dark" align="left">
                     <h1 align="center"> Kikar Hamedina </h1>
                     <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                     <p><b>Description:</b> A database of facebook statuses of members of the Israeli Knesset. </p>
                     <br><b>Links:</b>
                     <ul>
                       <li type="circle"> Overview: <a href="http://kikar.org/ " target="_blank"> http://kikar.org/  </a> </li>
                       <li type="circle"> Raw Data: <a href="https://drive.google.com/folderview?id=0BwRdpuTGNHpZYjhUYUZzWFNuZmM&usp=sharing" target="_blank"> Google Drive Folder </a> </li>
                     </ul>
                     <br>
               </div>

               <div class="col-md-4 text-dark" align="left">
                     <h1 align="center"> Anyway </h1>
                     <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                     <p><b>Description:</b> A website that collect data regarding car accidents, and enables searching and map display.  You can select a region and download the data concerning it. </p>
                     <br><b>Links:</b>
                     <ul>
                       <li type="circle"> Overview: <a href="http://www.anyway.co.il/" target="_blank"> http://www.anyway.co.il/  </a> </li>
                     </ul>
                     <ul>
                       <li type="circle"> Short documentation: <a href="https://docs.google.com/document/d/1xrYAQSQYyVlY8rrlBG4MlE_gI7tdVu5DAeDH7R6mzUs/edit?usp=sharing" target="_blank"> https://docs.google.com/document/d/1xrYAQSQYyVlY8rrlBG4MlE_gI7tdVu5DAeDH7R6mzUs/edit?usp=sharing  </a> </li>
                     </ul>
                     <br><b>Remarks:</b> If you wish to have more data, please contact Nitzan from the staff (the sooner the better) at <a href="mailto:data@datahack-il.com" target="_blank">data@datahack-il.com</a>.

                     <br>
               </div>
           </div>

           <div class="row" align="center">
               <div class="col-md-12 text-center">
                   <img class="co-host-separator" src="../img/logos/long_line.png">
                   <br>
               </div>
           </div>

           <!-- ROW -->
          <div class="row data-table">
              <div class="col-md-4 text-dark" align="left">
                    <h1 align="center"> Breezometer </h1>
                    <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                    <p><b>Description:</b> A dataset regarding air quality. </p>
                    <br><b>Links:</b>
                    <ul>
                      <li type="circle"> Overview : <a href="http://breezometer.com/" target="_blank"> http://breezometer.com/ </a> </li>
                      <li type="circle"> API: <a href="http://breezometer.com/api" target="_blank"> http://breezometer.com/api </a> </li>
                    </ul>
                    <br>
              </div>

              <div class="col-md-4 text-dark" align="left">
                    <h1 align="center"> Social Security </h1>
                    <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                    <p><b>Description:</b> A dataset containing statistics of allowance recipients by location. </p>
                    <br><b>Links:</b>
                    <ul>
                      <li type="circle"> Main Dataset: <a href="https://data.gov.il/dataset/958" target="_blank"> https://data.gov.il/dataset/958  </a> </li>
                      <li type="circle"> Query System: <a href="http://www.btl.gov.il/Mediniyut/Situation/statistics/BtlStatistics.aspx" target="_blank"> Example </a> </li>
                    </ul>
                    <br>
              </div>

              <div class="col-md-4 text-dark" align="left">
                    <h1 align="center"> SDSS </h1>
                    <font style="font-family:'Roboto',sans-serif;font-weight:100;margin: 0 0 25px;font-size:18px;line-height:1.5;">
                    <p><b>Description:</b> The Sloan Digital Sky Survey has created the most detailed three-dimensional maps of the Universe ever made, with deep multi-color images of one third of the sky, and spectra for more than three million astronomical objects. </p>
                    <br><b>Links:</b>
                    <ul>
                      <li type="circle"> Overview: <a href="http://www.sdss.org/dr12/" target="_blank"> http://www.sdss.org/dr12/ </a> </li>
                    </ul>
                    <br>
              </div>
          </div>

       </div>

        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br><br><br><br>
                <br>
            </div>
        </div>
    </div>



    <div align="center">
      <h3> More coming soon... </h3>
      <a href="../" class="btn btn-primary btn-lg active" role="button">Back to main page</a>
    </div>

    <br><br>
</body>
