<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/img/favicon.png?">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68413266-1', 'auto');
          ga('send', 'pageview');
    </script>
</head>
<body>
    <div align="center">
      <img src="../img/logos/for_challenges/small_logo.png" class="brand-image" alt="Logo">
    </div>
    <div align="center">
        <h1> Data Sets by Sponsors</h1>
        <h3> Here are some of the datasets that our sponsors are going to share with you during the event:</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-dark" align="center">
                  <h4>Company</h4>
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h4>Subject</h4>
            </div>
            <div class="col-md-6 text-dark" align="center">
                  <h4>Description</h4>
            </div>
        </div>

        <!-- ROW -->
         <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_ebay.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> ebay listings </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p>eBay is very flexible with the data it requires sellers to provide. Upon listing, the seller provides a short title of what he sells, some optional domain specific specifications (like screen size for TV’s, color for fashion or clarity for diamonds), and a category, an image and an HTML formed description.</p>

            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

         <!-- ROW -->
        <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/logo_outbrain.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> Article viewings </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p>The data set is composed of a set article entries - containing selected features of the articles - and a set of article viewing events by various users including page referrals.</p>

            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

        <!-- ROW -->
        <div class="row data-table">
            <div class="col-md-3 text-dark" align="center"> <!--style="vertical-align:middle" -->
                  <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_intel.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> Parkinson's disease </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p>The data was collected using ~30 different 3-axial accelerometer signals, each of which was recorded from an accelerometer that was attached to the spine (near the lower back) of a Parkinson's Disease patient. Each signal describes a walking session of 10 seconds. In addition, data includes the number of steps that were carried by the patient, in each session, and the total covered distance, during the session. Although relatively simple, these two measures provide insightful information regarding the gait quality of the patients.</p>
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

            <!-- ROW -->
            <div class="row data-table">
                <div class="col-md-3 text-dark" align="center">
                      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_neura.png" alt="sample" style="">
                </div>
                <div class="col-md-3 text-dark" align="center">
                      <h3> Mobile Sensoers </h3>
                </div>
                <div class="col-md-6 text-dark">
                      <p>A dataset of around 50 anonymized Neura users and their recorded mobile sensors data during at least 2 months’ period. Sensors include accelerometers, routers, Bluetooth devices, screen status, charging status, temperature, pressure, etc. Data was collected through various integrations with Neura.</p>
                </div>
            </div>

        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

            <!-- ROW -->
            <div class="row data-table">
                <div class="col-md-3 text-dark" align="center">
                      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_storesmarts.png" alt="sample" style="">
                </div>
                <div class="col-md-3 text-dark" align="center">
                      <h3> Real-world Shopper Visits </h3>
                </div>
                <div class="col-md-6 text-dark">
                      <p>The data set contains information about retail stores that StoreSmarts monitors, along with visitor session entries (Unique Identifier of shopper, whether he was in or out of the store, duration of session, etc…) up to a year back in the area of those stores. For simplicity, aggregated reports are also available to get quick insights from the data.</p>
                      <p>Size: ~40 million entries.</p>
                      <p>Link: <a href="https://drive.google.com/file/d/0B3IYTOSJm0hORHVqOUxkRndzcVU/view?usp=sharing" style="color:red" target="_blank">data set presentation</a></p>

                </div>
            </div>

        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>
    </div>

    <br><br><br><br><br>

    <div align="center">
        <h1> Open Data Sets</h1>
        <h3> Here are some great open data sets we think you might like to work with:</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-dark" align="center">
                <h4>Data from</h4>
            </div>
            <div class="col-md-3 text-dark" align="center">
                <h4>Subject</h4>
            </div>
            <div class="col-md-6 text-dark" align="center">
                <h4>Description</h4>
            </div>
        </div>

            <!-- ROW -->
            <div class="row data-table">
                <div class="col-md-3 text-dark"s style="vertical-align:middle" align="center">
                      <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_beit_hatfuzot.png" alt="sample" style="">
                </div>
                <div class="col-md-3 text-dark" align="center">
                      <h3> Family trees </h3>
                </div>
                <div class="col-md-6 text-dark">
                      <p>The Beit Hatfutsot's family tree database contains over 10,000 family trees encompassing over five million people. The database contains names, professions, births, family ties and numerous other details. </p>
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-md-12 text-center">
                    <img class="co-host-separator" src="../img/logos/long_line.png">
                    <br>
                </div>
            </div>

        <!-- ROW -->
         <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_gdelt.png" alt="sample" style="">
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> World news </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p><b>Description:</b> The GDELT Project monitors the world's broadcast, print, and web news from around the world and identifies people, locations, organizations, emotions and more. This dataset has been used to analyze international relations, monitor the war on Ebola, create influence networks of powerful individuals and examining the implications of the Arab Spring.</p>
                  <p><b>Data format:</b> CSV files containing columns for: date, actors, tone, location, source and more.</p>
                  <p><b>Possible challenges:</b>
                  <ul>
                      <li type="circle"> Coverage and tone towards Israel around the world. </li>
                      <li type="circle"> Predict the next protest, disease outbreak or election’s winner. </li>
                      <li type="circle"> Show relations between business people, media personalities and government officials. </li>
                  </ul>
                  </p>
                  <p><b>Previous work:</b>
                      <li type="circle"> <a href="http://blog.gdeltproject.org/visualizing-the-global-influencer-network/" target="_blank"> Visualizing the global influencer network. </a> </li>
                      <li type="circle"> <a href="http://foreignpolicy.com/2014/01/03/half-a-billion-clicks-cant-be-wrong/" target="_blank"> World map of conflict zones. </a> </li>
                      <li type="circle"> <a href="https://www.youtube.com/watch?v=1vqTPYdublk" target="_blank"> Protests and violence against civilians 1979-2014. </a> </li>
                  </p>
                  <p><b>Links:</b>
                      <li type="circle"> Overview: <a href="http://www.gdeltproject.org/" target="_blank"> http://www.gdeltproject.org/ </a> </li>
                      <li type="circle"> Download: <a href="http://data.gdeltproject.org/events/index.html" target="_blank"> http://data.gdeltproject.org/events/index.html</a> and <a href="http://data.gdeltproject.org/gkg/index.html" target="_blank"> http://data.gdeltproject.org/gkg/index.html</a></li>
                      <li type="circle"> Get a filtered CSV to your email: <a href="http://analysis.gdeltproject.org/module-event-exporter.html" target="_blank"> http://analysis.gdeltproject.org/module-event-exporter.html</a> </li>
                      <li type="circle"> Using Google BigQuery: <a href="http://googlecloudplatform.blogspot.co.il/2014/05/worlds-largest-event-dataset-now-publicly-available-in-google-bigquery.html" target="_blank"> http://googlecloudplatform.blogspot.co.il/2014/05/worlds-largest-event-dataset-now-publicly-available-in-google-bigquery.html</a> </li>
                  </p>

            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>

    <!-- ROW -->
     <div class="row data-table">
        <div class="col-md-3 text-dark" align="center">
              <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_enron.png" alt="sample" style="">
        </div>
        <div class="col-md-3 text-dark" align="center">
              <h3> Enron emails </h3>
        </div>
        <div class="col-md-6 text-dark">
              <p><b>Description:</b> Enron was a U.S. energy-trading and utilities company that housed one of the biggest accounting frauds in history. Enron's executives employed accounting practices that falsely inflated the company's revenues, which, at the height of the scandal, made the firm become the seventh largest corporation in the United States. Once the fraud came to light, the company quickly unraveled and filed for Chapter 11 bankruptcy on Dec. 2, 2001. The dataset contains ~200,000 email messages from ~150 users, mostly senior management of Enron.</p>
              <p><b>Data format:</b> The zip file contains a folder for each employee. Each of these folders is divided into ‘inbox’, ‘sent’, ‘all documents’ and more. The subfolders contain text files with the raw email data.</p>
              <font size="4"><b>Possible challenges:</b>
              <ul>
                  <li type="circle"> Find words and phrases that shorten the response time to an email. </li>
                  <li type="circle"> Determine the importance and urgency of a given email. </li>
                  <li type="circle"> Extract a list of tasks from a given email. </li>
              </ul>
              <b>Previous work:</b>
                  <li type="circle"> <a href="https://www.cs.cmu.edu/~tom/EMNLP2004_final.pdf" target="_blank"> Classification of an email according to the intent of the sender. </a> </li>
              <b>Links:</b>
                  <li type="circle"> Overview: <a href="http://www.cs.cmu.edu/~enron/" target="_blank"> http://www.cs.cmu.edu/~enron/ </a> </li>
                  <li type="circle"> Download: <a href="http://www.cs.cmu.edu/~enron/enron_mail_20150507.tgz" target="_blank"> http://www.cs.cmu.edu/~enron/enron_mail_20150507.tgz</a> </li>
              </font>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-md-12 text-center">
            <img class="co-host-separator" src="../img/logos/long_line.png">
            <br>
        </div>
    </div>

         <!-- ROW -->
        <div class="row data-table">
            <div class="col-md-3 text-dark" align="center">
                  <img class="img-responsive datapage-img" src="../img/logos/for_challenges/logo_reddit_datapage.png" alt="sample" style="">
                  <br>
            </div>
            <div class="col-md-3 text-dark" align="center">
                  <h3> Reddit posts </h3>
            </div>
            <div class="col-md-6 text-dark">
                  <p> A huge dataset containing all the public comments from the social networking site Reddit. </p>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-12 text-center">
                <img class="co-host-separator" src="../img/logos/long_line.png">
                <br>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div align="center">
      <h3> More coming soon... </h3>
      <a href="../" class="btn btn-primary btn-lg active" role="button">Back to main page</a>
    </div>

    <br><br>
</body>
