<!-- FAQ section -->
<div class="color-red row no-margins text-center">
    <div>
        <h2 class="color-cyan bookmark text-light">Hackathon</h2>
    </div>
</div>

<section id="hackathon" class="container content-section text-center color-cyan">
    <div class="row" align="justify">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="col-md-6 text-light">
              <img class="faq-icon" src="img/icon_calendar-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
              <h1 class="when-title" align="center">DataHack 2015</h1>
              <div class="left-text-column ">
              <p align="justify">
                DataHack 2015 took place on November 25th – 27th, 2015, at the Hansen House, Jerusalem, and hosted over a hundred and fifty data-enthusiastic programmers, designers and researchers. We had a blast. :)
                <br>
              </p>
              <p align="center"><a href="/datahack2015" class="btn btn-primary btn-lg active" role="button" style="width:70%">To DataHack 2015</a></p>
              </div>
          </div>
          <div class="col-md-6 text-light">
              <img class="faq-icon" src="img/icon_chart-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
              <h1 class="hackathon-title" align="center">DataHack 2016</h1>
              <div class="right-text-column ">
              <p align="justify">
              Set to take place in Jerusalem at the fourth quarter of 2016, we plan for DataHack 2016 to be bigger and better in every sense. If you want to know when sponsor recruitment begins, mail us at <a href="mailto:sponsor@datahack-il.com" style="color:darkblue">sponsor@datahack-il.com</a>.
              </p>
              </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <br><br><br>
    </div>

</section>
