<!-- FAQ section -->
<div class="color-red row no-margins text-center">
    <div>
        <h3 class="color-cyan bookmark text-light">Hackathon</h3>
    </div>
</div>

<section id="hackathon" class="container content-section text-center color-cyan">
    <div class="row" align="justify">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="col-md-6 text-light">
              <img class="faq-icon" src="img/icon_faq-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
              <h3 class="when-title" align="center"DataHack 2015</h3>
              <div class="left-text-column ">
              <p align="justify">
                DataHack 2015 took place on November 25th – 27th, 2015, at the Hansen House, Jerusalem. Over a hundred and fifty data-enthusiastic programmers, designers and researchers contended over 48 hours and combined their skills to build innovative solutions for real-world problems. They were joined by over 80 mentors from academia and 17 sponsoring companies. We had a blast. :)
                <a href="/datahack2015" class="btn btn-primary btn-lg active" role="button" style="width:100%">To DataHack 2015's site</a>
              </p>
              </div>
          </div>
          <div class="col-md-6 text-light">
              <img class="faq-icon" src="img/icon_faq-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
              <h3 class="hackathon-title" align="center">DataHack 2016</h3>
              <div class="right-text-column ">
              <p align="justify">
              Set to take place in Jerusalem at the fourth quarter of 2016, we plan for DataHack 2016 to be bigger and better in every sense. If you want to know when sponsor recruitment begins, mail us at <a href="mailto:sponsor@datahack-il.com" style="color:dark">sponsor@datahack-il.com</a>.
              </p>
              </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <br><br><br>
    </div>

</section>
