<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <title>The DataHack Jobs Page</title>
    <meta name="description" content="With the growing demand for data scientists and machine learning experts, looking for a job in the field while keeping track of the numerous relevant positions can be hard. That's why we figured we could help each other out, and set up this simple jobs page for those data scientists on the lookout." />
    <link rel="image_src" href="img/datahack_jobs.png" / >

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/img/favicon.png?">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68413266-1', 'auto');
          ga('send', 'pageview');

          function swapRows(){
            var row = document.getElementById("positionsTable").rows;
            var rC = row.length;
            var tBody = row[0].parentNode;
            for(i=1;i<rC;i++){
              tBody.insertBefore(row[Math.ceil(Math.random()*(rC-1))],row[i]);
            }
          }
          window.onload=swapRows;
    </script>
</head>
<body>
  <div align="center">
    <img src="../img/logos/for_challenges/small_logo.png" class="brand-image" alt="Logo">
  </div>
  <div align="center">
      <h1> The Jobs Page!</h1> <br>
      <!--<h3> Coming soon... </h3> <br><br> -->
  </div>

  <section id="jobs_table" class="container content-section text-center">

    <div class="row" align="justify">

      <!-- <div class="col-md-1">
      </div> -->

      <div class="col-md-12 text-dark">

        <!-- <table id="headers">
          <tr>
            <td>Company</td>
            <td>Position</td>
            <td>Description</td>
          </tr>
        </table> -->

        <table id="positionsTable">
          <colgroup>
             <col span="1" style="width: 15%;">
             <col span="1" style="width: 15%;">
             <col span="1" style="width: 70%;">
          </colgroup>
          <tbody>
            <tr>
              <th style="width:15%;">Company</th>
              <th style="width:15%;">Position</th>
              <th style="width:70%;">Description</th>
            </tr>

            <tr>
              <td><a href="http://careers.mobileye.com/">Mobileye</a></td>
              <td>Algorithms Developer</td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">As part of our algorithmic group, you will be exposed to innovative areas of practice and interact with top experts in the field of Computer Vision and Machine Learning. Work includes development of advanced algorithms in the fields of Image Processing, Computer Vision, Machine Learning, System Design and coding for a Real-Time environment in C++.</td>
            </tr>

            <tr>
              <td><a href="http://www.prize4life.org/">Prize4Life</a></td>
              <td><a href="mailto:alonh@prize4life">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Prize4Life is looking for a data scientist with vast experience in machine learning to explore, analyze and identify features in a unique and variable dataset from ALS patients. The candidate can be a grad student with hands-on experience in machine learning or deep learning models with variable datasets (structured/unstructured, images, audio).</td>
            </tr>

            <tr>
              <td><a href="https://www.zao.com/dy93ML">Lightricks</a></td>
              <td><a href="https://www.zao.com/FsW7AO">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Our Analytics team engages with aspects from usage analytics to modelling and optimisation of advertisement and convergence rates. As a Data Fiend in the team you will work with real-wrold data, large & dirty datasets, online and offline algorithms. You should have a strong statistical background and be able to build robust models and give accurate and actionable conclusions.</td>
            </tr>

            <tr>
              <td><a href="https://www.zao.com/dy93ML">Lightricks</a></td>
              <td><a href="https://www.zao.com/FsW7AO">Analytics Team Lead</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">The Analytics team lead will engage with usage statistics, modelling and optimization of ads and conversion rates and more. You will head the development of our most complex statistical models for accurate analysis and prediction. A strong statistical background is a must, and so is working with technical development teams and managing others.</td>
            </tr>

            <tr>
              <td><a href="https://www.zao.com/dy93ML">Lightricks</a></td>
              <td><a href="https://www.zao.com/FsW7AO">Senior Researcher</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">As a Researcher at Lightricks you will lead applied research of our next generation features and products. Our areas of research span over Computational Photography, Computer Vision & Image/Video Processing. Your research will be cutting edge and applied in real products for use by millions of users.</td>
            </tr>

            <tr>
              <td><a href="http://www.theneura.com/">Neura</a></td>
              <td><a href="http://www.theneura.com/jobs/data-scientist/">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">You’re responsible for data models in our Machine-Learning focused engine. You love bringing creative flair to complex challenges (we have a lot of those), and you’re pretty handy with cutting code. You’ll be expected to lead data collection requirements, improve detection and prediction models accuracy and implement new features and models.</td>
            </tr>

            <tr>
              <td><a href="http://www.sparkbeyond.com/careers/">SparkBeyond</a></td>
              <td><a href="http://www.sparkbeyond.com/careers/data-scientist/">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">You’ll be a mentor to empower our customers’ data science team to be successful with SparkBeyond Discovery Platform, taking our novel technology to the market.</td>
            </tr>

            <tr>
              <td><a href="http://www.sparkbeyond.com/careers/">SparkBeyond</a></td>
              <td><a href="http://www.sparkbeyond.com/careers/data-science-engineer/">Data Science Engineer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">You’ll be tasked with developing the heart of our Machine Learning algorithms, taking novel ideas from the drawing boards all the way to production at scale.</td>
            </tr>

            <tr>
              <td><a href="http://www.sparkbeyond.com/careers/">SparkBeyond</a></td>
              <td><a href="http://www.sparkbeyond.com/careers/software-engineer/">Software Engineer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">You’ll be tasked with building the next generation AI-for-Data-Science technology, while developing robust technologies for accelerating the work of Data Scientists everywhere.</td>
            </tr>

            <tr>
              <td><a href="http://www.sparkbeyond.com/careers/">Intel</a></td>
              <td><a href="https://www.linkedin.com/jobs2/view/103890685">Machine Learning Researcher</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">A cutting edge group who leads Intel's global machine learning solutions is hiring talented machine-learning professionals.  Part-time graduate student positions are also available. Location is Petach-Tikva, Haifa, Kiryat-Gat or Jerusalem. Please contact <a href="mailto:aa_hiring@intel.com">aa_hiring@intel.com</a>.</td>
            </tr>

            <tr>
              <td><a href="http://www.adience.com/careers-1/#jobs">Adience</a></td>
              <td><a href="mailto:jobs@adience.com">Algorithm Developer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">We are looking for a talented algorithm developer with knowledge of various machine learning algorithms applied on big-data. In this position you'll be exposed to diverse algorithmic topics in the fields of Data Mining, Recommender Systems, Computer Vision and more. You'll be in charge of the full cycle of development from research to production.</td>
            </tr>

            <tr>
              <td><a href="https://www.billguard.com">Billguard</a></td>
              <td><a href="https://www.billguard.com/opportunities/?job=12">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">We're looking for a born data scientist, that can leverage data research and scripting skills to crunch and visualize many sorts of data sets and algorithms to identify schemes that everybody overlooked, and is equipped with sharp analytical skills allowing her to analyze various kinds of data and information and come up with data/product insights.</td>
            </tr>

            <tr>
              <td><a href="http://www.genesys.com/">Genesys</a></td>
              <td><a href="https://genesyscareers.genesys.com/epostings/index.cfm?fuseaction=app.jobInfo&version=1&jobid=1680">Research Engineer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">As part of the Genesys team you will research, design, and develop software systems for speech and data mining enterprise software applications. The work is both analytical and experimental in nature. It includes development and prototyping of new algorithms and evaluating their performance on extensive and large speech and text data sets.</td>
            </tr>

            <tr>
              <td><a href="http://www.hiredscore.com/">HiredScore</a></td>
              <td><a href="https://hiredscore.workable.com/jobs/190483">Senior Algorithms and Software Developer (Data Science)</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">We are looking for an algorithms and software developer / data scientists to build new and amazing data products and advance current algorithms. Bring data science into Human Resources: Extract knowledge about people, companies and positions and build learning engines to match the right person to the right position.</td>
            </tr>

            <tr>
              <td><a href="http://neomatix.com/">NeoMatix</a></td>
              <td><a href="mailto:jobs@neomatix.com">Senior Computer Vision Algorithm Developer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">5+ years of industry experience with Computer Vision and Image Processing. M.Sc. or higher in Physics, Electrical Engineering, Computer Science, Math or Biomedical Engineering.Machine Learning and Computational Geometry are a big plus. OpenCV under Python or C is a plus.</td>
            </tr>

            <tr>
              <td><a href="http://www.percepto.co/">Percepto</a></td>
              <td><a href="http://www.percepto.co/jobs.html">Computer Vision Team Leader</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Start working now on the future applications of flying robots. You’ll be taking responsibility on developing core algorithms for our future applications. You’ll be required to be hands-on the research, building a team of eager-to-learn developers around you. You’ll be a key player in our endeavor to give true value to the UAVs world.</td>
            </tr>

            <tr>
              <td><a href="http://www.percepto.co/">Percepto</a></td>
              <td><a href="http://www.percepto.co/jobs.html">Computer Vision Developer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Looking to extend your knowledge in computer vision? We’ve got the job for you. You’ll experience researching and implementing a variety of cutting edge algorithms, from definition to meeting performance requirements, and finally, testing it on a flying robot in the field.</td>
            </tr>

            <tr>
              <td><a href="http://prospera.ag/">Prospera</a></td>
              <td><a href="http://prospera.ag/careers.html">Algorithms Developer/Researcher</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Prospera is seeking algorithm developers in the field of computer vision and machine learning. Requirements: 1-3 years of relevant experience in academic projects or industrial research. MSc in CS, Engineering, Mathematics or Physics. Familiarity with ML and\or computer vision algorithms. Hands-on experience with programming languages Python\Matlab.</td>
            </tr>

            <tr>
              <td>Yahoo</td>
              <td><a href="https://tas-yahoo.taleo.net/careersection/yahoo_global_cs/jobdetail.ftl?job=1546034&lang=en&ylng=en&yloc=global">Senior Research Engineer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Yahoo Labs complex-queries research team builds new algorithms to support search over the Web and structured corpora for intricate information needs. You will apply ML and data mining techniques to build models to improve relevance, revenue and UX. Dive into the data to understand and apply patterns while maintaining a sense of the big picture.</td>
            </tr>

            <tr>
              <td style="padding-right:8px; padding-left:8px;"><a href="http://www.elevationacademy.co/">Elevation Academy</a></td>
              <td><a href="http://www.elevationacademy.co/data-director/">Director of Data Programs</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Looking for a unique person with a deep understanding of either Data Analysis or Data Science and a passion for talent building and facilitating personal growth. You will be responsible for working with industry experts on co-creating the content for all data programs, including a 3 month Data Science bootcamp and a 2 month Data Analysis program.</td>
            </tr>

            <tr>
              <td><a href="http://cocycles.com/">CoCycles</a></td>
              <td><a href="mailto:jobs@cocycles.com">Research Engineer (Machine Learning & NLP)</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">CoCycles is a fast growing and well-funded startup, building a functional search engine for code. Come make a difference, build exciting technology and work with a stellar and passionate development team. Work requires an experience with NLP, data classification and extensive understanding of software design concept and OOP based languages.</td>
            </tr>

            <tr>
              <td><a href="https://www.marketo.com/">Marketo</a></td>
              <td><a href="mailto:ycalisar@marketo.com">Big-data & Machine learning Engineer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Marketo, the world leader in marketing automation technology is expanding its engineering team at the Tel-Aviv innovation center.  We have very interesting opportunities for engineers with big-data, machine learning and predictive analytics skills.  If you’re up to it - contact Yanir (<a href="mailto:ycalisar@marketo.com">ycalisar@marketo.com</a>).</td>
            </tr>

            <tr>
              <td><a href="https://www.paypal.com/us/webapps/mpp/about">PayPal</a></td>
              <td><a href="https://jobsearch.paypal-corp.com/jobs/109818-telaviv-israel/Tel-Aviv-Data-Scientist?lang=en-US">Risk Analytic Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Risk Analytic Data Scientists are highly motivated team players who specialize in the investigation of fraud patterns and the creation of advanced proprietary fraud prevention components. We are looking for problem solvers, equipped with strong analytical & quantitative skills suited to approach various kinds of challenges in complex environments.</td>
            </tr>

            <tr>
              <td><a href="http://www.roundforest.com/">round_forest</a></td>
              <td><a href="mailto:jobs@roundforest.com">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Looking for a quick, sharp and highly intelligent person who is passionate about data and statistics. You will implement optimization and machine learning techniques on complex ad tech problems, e.g. maximizing revenue or classifying target audiences, and optimize conversion funnel according to statistical models and data driven analysis.</td>
            </tr>

            <tr>
              <td><a href="http://www.research.ibm.com/">IBM Research</a></td>
              <td><a href="http://u.rfer.us/IBEDPH2NaV">NLP & Machine Learning Expert</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Our Debating Technologies team is developing ground-breaking technologies to assist humans to debate and reason. We are seeking top candidates with strong expertise and hands-on experience in the areas of NLP and/or ML. If you are interested in working with great researchers to push the frontiers of intelligent systems then this is the job for you!</td>
            </tr>

            <tr>
              <td><a href="https://www.palantir.com/careers/positions/forward-deployed-software-engineer">Palantir</a></td>
              <td><a href="mailto:Israel@Palantir.com">Forward Deployed Software Engineer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">FDSEs are devs with a passion for using technology to achieve a larger goal, they enjoy the challenge of solving an abstract problem and building or adopting technology. FDSEs work with customers, where they gain insight into the world’s leading industries and institutions. FDSEs are thought leaders and first movers in developing a solution, from high-level system design and prototyping to application development and data integration.</td>
            </tr>

            <tr>
              <td><a href="https://www.tapingo.com/">Tapingo</a></td>
              <td><a href="mailto:admin@tapingo.com">Senior Data engineer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">We are looking for an enthusiastic data oriented software engineer to join our data team. As a Data Engineer you will be responsible for extracting, storing and processing huge sets of data. We are dealing with real life traveling agent analyzing complex network and proving assumptions with models. Want to hear more? reach out to <a href="mailto:admin@tapingo.com">admin@tapingo.com</a>.</td>
            </tr>

            <tr>
              <td><a href="https://www.intel.com/">Intel</a></td>
              <td><a href="https://intel.taleo.net/careersection/10000/jobdetail.ftl?job=789749">Senior Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Wearable devices are the new frontier in the technological world. They bring new challenges: huge amounts of data are gathered, new algorithmic approaches are required to make sense of the data and new applications are needed to provide great experiences to the users. If you are an experienced Data Scientist, please <a href="https://intel.taleo.net/careersection/10000/jobdetail.ftl?job=789749">apply here</a>.</td>
            </tr>

            <tr>
              <td><a href="https://easy.co.il/">Easy</a></td>
              <td><a href="mailto:jobs@easy.co.il">Data Science Engineer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Easy, a small startup in TLV, with a leading local search consumer service, is looking for an experienced data scientist to lead its research on data automation and optimization. The challenges include using advanced machine learning algorithms and data-mining millions of data points.</td>
            </tr>

            <tr>
              <td><a href="www.yotpo.com">Yotpo</a></td>
              <td><a href="http://grnh.se/nvumy0">Data scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">At Yotpo, we have tons of interesting and unique data at our disposal. We are looking for a Senior Data Scientist to lead the research and exploration of this data. If you love analyzing, mining and doing crazy things with data, and you're good at it, our team is the place where all your data dreams will come true.</td>
            </tr>

            <tr>
              <td>Talklet</td>
              <td><a href="http://www.janglo.net/index.php?option=com_adsmanager&page=display&catid=90&tid=389201">NLP Lead Developer</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;"><b>Early-stage hi-tech startup in Jerusalem looking for lead developer!</b> About Talklet: We're building a wearable device & mobile/web app; it will record speech, transmit data to the cloud, analyze speech for quality & quantity metrics. About you: Software developer (NLP &/or hardware experience a plus), hard-working, creative and & want to hear more..</td>
            </tr>

            <tr>
              <td><a href="http://www.tgs-systems.com/careers.aspx">LastMinuteTravel</a></td>
              <td><a href="http://www.tgs-systems.com/careers.aspx#Data Scientist -122">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Develop, manage and improve an ML based bidding platform, that would help us maintain our competitive edge in the B2C online travel industry: Build innovative data models, from data collection to dashboards. Analyze our data warehouse and generate actionable recommendations for business owners. Create a data collection strategy for partnership.</td>
            </tr>

            <tr>
              <td><a href="https://www.linkedin.com/company/7946295">Shoodoo Analytics</a></td>
              <td><a href="https://www.linkedin.com/company/shoodoo-analytics-ltd./comments?topic=6136535595175923712&type=U&scope=7946295&stype=C&a=ytJe">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">We are hiring - looking for a Data Scientist PHD/Master student (or similar) for a part-time and flexible job. A great opportunity to join a promising startup. Contact <a href="mailto:amir.raskin@shoodoo.net">amir.raskin@shoodoo.net</a></td>
            </tr>

            <tr>
              <td><a href="https://www.forter.com/">Forter</a></td>
              <td><a href="https://www.forter.com/careers/data-scientist/">Data Scientist</a></td>
              <td style="text-align: justify; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; font-size:10pt;">Forter is solving online fraud and looking for a unique Data Scientist to be at the junction of fraud-analysis and Machine Learning - extracting insights and delivering logic components; the heart and soul of what we do. So if you're experienced in data manipulation, statistical techniques and tools, and got some Python skills, mail <a href="mailto:guy@forter.com">guy@forter.com</a>.</td>
            </tr>

          </tbody>
        </table>

      </div>

      <!-- <div class="col-md-1">
      </div> -->

    </div>

  </section>

  <section id="jobs_description" class="container content-section text-center">

      <div class="row" align="justify">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 text-dark">

            <p><b>We get a lot of questions from friends and participants about job hunting in the data science field. While we have no intention of becoming an HR firm, we thought a single page with a simple table would be a nice service for the community.</b></p>

            <p><b>Want to post a position to the page? Mail the company name (no anonymous posts) - which might incorporate a link the a jobs page, mail-to link for applications or just the company's website - the name of the position ("Data Scientist", "Machine Learning Research Expert", etc.), and a short description of the position (up to 350 characters; we inforce that) to <a href="mailto:jobspage@datahack-il.com">jobspage@datahack-il.com</a>.</b></p>

            <p><b>Note that we will only post positions that are related to one (or more) of the following fields: data science, machine learning and statistics.</b></p>
        </div>
        <div class="col-md-2">
        </div>
      </div>
  </section>

  <div align="center">
    <br><br><br><br>
    <a href="../" class="btn btn-primary btn-lg active" role="button">Back to the site</a>
  </div>

  <br><br>
</body>
