<!-- Register section -->
<div class="color-navyblue row no-margins text-center">
    <div>
        <h2 class="color-red bookmark text-light">Judges</h2>
    </div>
</div>
<section id="contact" class="container content-section text-center color-red">
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-light">
          <div class="col-md-4 text-light">
              <img class="img-reg" src="img/judges/dafna_shahaf.png" alt="Dima" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Dr. Dafna Shahaf</b></font><br>
              <font size="4">Assistant Professor, School of Computer Science and Engineering, the Hebrew University of Jerusalem</font></center>
          </div>
          <div class="col-md-4 text-light">
              <img class="img-reg" src="img/judges/tommy.png" alt="Gal" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Dr. Tommy Kaplan</b></font><br>
              <font size="4">Assistant Professor, School of Computer Science and Engineering, the Hebrew University of Jerusalem</font></center>
          </div>
          <div class="col-md-4 text-light">
              <img class="img-reg" src="img/team/ronen.png" alt="Noga" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Prof. Ronen Feldman</b></font><br>
              <font size="4">Professor, School of Business Administration, the Hebrew University of Jerusalem</font></center>
          </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-4 text-light">
              <img class="img-reg" src="img/team/ben.png" alt="Gal" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Ben Weiner</b></font><br>
              <font size="4">Managing Partner, Jumpspeed Ventures</font></center>
          </div>
          <div class="col-md-4 text-light">
              <img class="img-reg" src="img/team/yaniv.png" alt="Dafna" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Yaniv Feldman</b></font><br>
              <font size="4">Editor-in-Chief & COO, Geektime</font></center><br><br><br><br><br>
          </div>
          <div class="col-md-4 text-light">
              <img class="img-reg" src="img/team/uri.png" alt="Ido" style="display:block;margin:auto;margin-bottom:1cm;">
              <center><font size="5"><b>Uri Landau</b></font><br>
              <font size="4">Sr. Director, C&C Software Development, eBay</font></center><br><br><br><br><br>
          </div>
        </div>
        <div class="col-md-1"> <br><br><br> </div>
    </div>
</section>
