<!-- Register section -->
<div class="color-cyan row no-margins text-center">
    <div>
        <h2 class="color-navyblue bookmark text-light">Newsletter</h2>
    </div>
</div>

<section id="newsletter" class="container content-section text-center color-navyblue">


    <div class="row" align="justify">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 text-light">
            <img class="about-icon" src="img/Icon_about-04.png" alt="Location" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="about-title" align="center">Our Newsletter</h1>
            <div class="middle-text-column">
            <p align="justify">
            The DataHack newsletter is an easy way to get a curated list of data science and machine learning related news and events, including other events by DataHack, like the DataTalks meetup series, straight to your mail box. We will send out an issue about once a month.
            </p>
            </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="col-md-4 text-light">
          <img class="about-icon" src="img/icon_register-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
          <h1 class="about-title" align="center">Signing Up</h1>
          <div class="left-text-column ">
          <p align="justify">
          It's easy! Just fill out this <a href="http://eepurl.com/bH6BoX" style="color:red" target="_blank">short form</a>, and you'll get our next issue. Past issues can be read <a href="http://us12.campaign-archive2.com/home/?u=de6927f58980fe1c8f3b78cf7&id=d70a19b217" style="color:red" target="_blank">here</a>. Also, if you've got an interesting and data-science-related article, paper, event or piece of news, mail us at <a href="mailto:newsletter@datahack-il.com" style="color:red">newsletter@datahack-il.com</a>, and we'll try and include it in our next issue.
          </p>
          </div>
          <br><br><br>
      </div>
    </div>
</section>
