<!-- FAQ section -->
<div class="color-cyan row no-margins text-center">
    <div>
        <h3 class="color-'blue' bookmark text-dark">Products</h3>
    </div>
</div>

<section id="products" class="container content-section text-center color-blue">

  <div class="row" align="justify">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 text-dark">
          <font size="5">Here are some of the products our sponsors will offer participants:</font>
          <!--
          <script type="text/javascript" src="http://form.jotform.me/jsform/52911416710448"></script> -->
          <br><br>
      </div>
      <div class="col-md-2">
      </div>
  </div>

  <div class="row" align="justify">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="col-md-6 text-light"  style="vertical-align:middle;">
          <div class=frame style="vertical-align:middle;">
            <a href="https://dato.com/products/create/" target="_blank">
              <img class="graphlab-logo" src="img/logos/products/logo_graphlab.png" alt="GraphLab" style="display:block;margin:auto;margin-bottom:1cm;vertical-align:middle;">
            </a>
          </div>
        </div>
        <div class="col-md-6 text-light" style="vertical-align:middle;">
          <div class=frame style="vertical-align:middle;">
            <a href="http://www.ibm.com/cloud-computing/bluemix/" target="_blank">
              <img class="bluemix-logo" src="img/logos/products/logo_bluemix.png" alt="Bluemix" style="display:block;margin:auto;margin-bottom:1cm;vertical-align:middle;">
            </a>
          </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row" align="justify">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="col-md-2 text-light"  style="vertical-align:middle;"></div>
      <div class="col-md-8 text-light"  style="vertical-align:middle;">
        <div class=frame style="vertical-align:middle;">
          <a href="https://cloud.google.com/" target="_blank">
            <img class="google-cloud-logo" src="img/logos/products/logo_google_cloud.png" alt="Google Cloud" style="display:block;margin:auto;margin-bottom:1cm;vertical-align:middle;">
          </a>
            <br><br><br>
        </div>
      </div>
      <div class="col-md-2 text-light" style="vertical-align:middle;"></div>
    </div>
    <div class="col-md-1"></div>
  </div>

</section>
