<!DOCTYPE html>
<html>
    {% include datahack2015/head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include datahack2015/nav.html %}
    {% include datahack2015/header.html %}
    {% include datahack2015/about.html %}
    {% include datahack2015/register.html %}
    {% include datahack2015/prizes.html %}
    {% include datahack2015/faq.html %}
    {% include datahack2015/products.html %}
    {% include datahack2015/data.html %}
    {% include datahack2015/judges.html %}
    {% include datahack2015/sponsors.html %}
    {% include datahack2015/team.html %}
    {% include datahack2015/contact.html %}
    {% include datahack2015/map.html %}
    {% include datahack2015/footer.html %}
    {% include datahack2015/js.html %}
    </body>
</html>
